
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
* {
    box-sizing: border-box;
}

.page {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 1300px;
    min-width: 350px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    display: flex;
    align-content: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    min-height: 80px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: space-between;
    background-color: #213B7E;
}
.logo {
    fill: #ffffff;
    object-fit: cover;
    object-position: left;
    margin: 0;
    width: auto;
    padding: 0;
    align-self: center;
}

@media (max-width: 850px) {
    .logo {
        width: 100%;  
        min-height: 80px;
    }
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu > li {
    display: flex;
    min-height: 80px;
}

.menu_link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    min-width: 113px;
    padding: 0 18px;
    margin: 0;
}
.menu_link:hover {
    color:  #213B7E;
    background-color:  #ffffff;
    text-decoration: none;
}
.login {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    margin: 16px 0;
    padding: 15px 15px;
    width: 153px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #EA5D21;
    border-width: 0px;
    text-decoration: none
}

.login_popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    max-width: 500px;
    max-height: 418px;
    padding: 0px 0px 56px 28px ;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #213B7E;
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
}

.show_popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.login_form {
    display: flex;
    flex-direction: column;
}
.login_input {
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    max-width: 444px;
    min-height: 55px;
    margin: 36px 0 28px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: #808080;
    padding: 10px 0 14px 17px;
}
.password_input {
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    max-width: 444px;
    min-height: 55px;
    margin: 28px 0 28px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: #808080;
    padding: 10px 0 14px 17px;
}

@media (max-width: 800px) {
    .login {
        margin: 16px auto;
    }
}

.login:hover {
    color: #ffffff94;
    background-color:  #ea5d21bb;
    text-decoration: none;
}
.active_link {
    color:  #213B7E;
    background-color: #ffffff;
    text-decoration: none;
}
.main {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.main > .wrapper {
    display: block;
    width: 100%;
    max-width: 911px;
    margin: 33px auto;
    min-height: 720px;
    padding: 0;
    
}

@media (max-width: 950px) {
    .main > .wrapper {
        padding: 0 2vw;
    }
}

.wrapper_stud {
    display: flex;
    align-self: center;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1202px;
    margin: 0 auto;
}

.wrapper_stud > h1 {
    flex-grow: 1;
    flex-basis: 100%;
}
.wrapper_stud > img {
    flex-grow: 0;
    width: 100%;
    max-width: 200px;
    margin: 0px;
}
.student {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    margin: 25px 0;
    background-color: #86C6F4;
}

@media (max-width: 1250px) {
    .student  {
        margin: 25px 2vw;
    }
    .wrapper_stud > h1 {
        margin: 25px 2vw;
    }
}

.student > a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    margin: 8px 0;
    color: #000000;
}
.student > p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    margin: 8px 0;
}
.student > a > img {
    margin: 0px;
}
.new {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    align-self: flex-end;
    width: 94px;
    background-image: url(../img/new.png);
    margin-top: -10px;
    margin-right: -10px;
}
.close {
    align-self: flex-end;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-right: 2px;
}

.close:hover {
    cursor: pointer;
}

table {
    width: 100%;
}
img {
    width: 100%;
    margin: 25px 0 15px 0;
    max-width: 523px;
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.h1 {
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.17;  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    margin-top: 37px;
}
.h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.17;  
    margin: 0;
}
strong {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
}
em {
    color: #CF5510;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}
.text1 {
    display: inline-block;
    width: 100%;
    max-width: 634px;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    margin: 0;
    padding: 10px 0;
}
.text2 {
    display: inline-flex;
    justify-content: right;
    vertical-align: middle;
    padding: 0;
    max-width: 129px;
    width: 100%;
    font-family: 'Lobster', italic;
    font-size: 36px;
    font-weight: 400;
    fill: #646464; 
    stroke: rgb(0, 0, 0);
    stroke-width: 1;
}

.uch {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: content;
    padding-bottom: 20px;
}

@media (max-width: 850px) {
    .column p {
        padding-right: 4vw;
    }
    .uch {
        margin-right: 4vw;
        flex-direction: row;
    }
}

.footer {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    min-height: 60px;
    color: #213B7E;
    background-color: #213B7E;
}
.footer > .wrapper {
    justify-content: center;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;  
    paint-order: stroke;
    fill: rgba(255, 255, 255, 0.5); 
    stroke: rgb(0, 0, 0);
    stroke-width: 1;
    filter: drop-shadow( 0px 4px 4px rgb(0, 0, 0, 0.25) );
}
