
html {
    height: 100%;
}
body {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    height: 100%;
}
* {
    box-sizing: border-box;
}

.page {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 1300px;
    min-width: 350px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    display: flex;
    align-content: center;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    min-height: 80px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: space-between;
    background-color: #213B7E;
}
.logo {
    fill: #ffffff;
    object-fit: cover;
    object-position: left;
    margin: 0;
    width: auto;
    min-width: 47px;
    padding: 0;
    align-self: center;
}

@media (max-width: 850px) {
    .logo {
        width: 100%;  
        min-width: 47px;
        min-height: 80px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .logo > svg {
        width: 100%;
        object-position: center;
    }
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu > li {
    display: flex;
    min-height: 80px;
}

.menu_link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    min-width: 113px;
    padding: 0 18px;
    margin: 0;
}

.menu_link:hover {
    color:  #213B7E;
    background-color:  #ffffff;
    text-decoration: none;
}

.menu_link:focus {
    color:  #213B7E;
    background-color:  #ffffff;
    text-decoration: none;
}

a:focus {
    outline: none;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.7) inset;
}

button:focus {
    outline: none;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.7) inset;
}

.login {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    margin: 16px 0;
    padding: 15px 15px;
    width: 153px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #EA5D21;
    border-width: 0px;
    text-decoration: none
}

.login_popup {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
    max-width: 500px;
    max-height: 418px;
    padding: 28px 28px 56px 28px ;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #213B7E;
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}

.show_popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.overlay::after {
    content: '';
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5)

}


.login_form {
    display: flex;
    flex-direction: column;
}
.login_input {
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    max-width: 444px;
    min-height: 55px;
    margin: 36px 0 28px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: #808080;
    padding: 10px 0 14px 17px;
}
.password_input {
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    max-width: 444px;
    min-height: 55px;
    margin: 28px 0 28px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: #808080;
    padding: 10px 0 14px 17px;
}


.close {
    align-self: flex-end;
    position: absolute;
    right: 2px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 800px) {
    .login {
        margin: 16px auto;
    }
}

.login:hover {
    color: #ffffff94;
    background-color:  #ea5d21bb;
    text-decoration: none;
}
.active_link {
    color:  #213B7E;
    background-color: #ffffff;
    text-decoration: none;
}
.main {
    position: relative;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.main > .wrapper {
    display: block;
    width: 100%;
    max-width: 911px;
    margin: 33px auto;
    padding: 0;
}

.main > .contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 911px;
    margin: 33px auto;
   
}

@media (max-width: 950px) {
    .main > .wrapper {
        padding: 0 2vw;
    }
    .contacts {
        padding: 0 2vw;
    }
}

.wrapper_stud {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1202px;
    margin: 0 auto;
}

.wrapper_stud > h1 {
    flex-grow: 1;
    flex-basis: 100%;
    margin-top: 37px;
    text-shadow: none;
}

.wrapper_stud > img {
    flex-grow: 0;
    width: 100%;
    max-width: 200px;
    margin: 0px;
}
.student {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 100%;
    margin: 25px 0;
}

.emoj::after {
    content: '👧👦';
}


.student > img {
    margin: 0px 0;
    width: 200px;
    height: 270px;
    background-color: #86C6F4;
    object-fit: scale-down;
    object-position: bottom;
    padding-bottom: 20px;
}

.student > a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0;
    color: #000000;
}
.student > p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    margin: 8px 0;
}

.student > a > img {
    margin: 0px;
    padding: 20px;
}

.new::after {
    content: 'новичок';
    position: absolute;
    padding-top: 3px;
    right: -13px;
    transform: translateY(-50%);
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    width: 94px;
    height: 24px;
    background-color: #3AA828;
    border-radius: 20px;
}

@media (max-width: 1250px) {
    .student  {
        margin: 25px 2vw;

    }
    .wrapper_stud > h1 {
        margin: 37px 2vw 0px 2vw;
    }
    .wrapper_stud {
    justify-content: flex-start;
    }
}

.about_video {
    max-width: 820px;
    border: 0px;
}

.emoj2::after {
    content: ' 📱'
}

@media (max-width: 820px) {
    .about_video {
        width: 100%;
    }
}

.map {
    align-self: center;
    max-width: 1268px;
    margin: 10px 0px;
    border: 0px;
}

@media (max-width: 1268px) {
    .map {
        width: 100vw;
        padding: 0px 2vw;
    }
}

.emoj3::after {
    content: '\1F5FA';
}

.close:hover {
    cursor: pointer;
}

table {
    width: 100%;
}
img {
    width: 100%;
    margin: 25px 0 15px 0;
    max-width: 523px;
}

.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.h1 {
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.17;  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    margin-top: 37px;
}

.column > .student {
    align-self: center;
    margin: 10px auto;
    flex-grow: 1;
}

.student > .h2 {
    margin-top: 15px;
    line-height: 1.7;
}

.student > .text1 {
    text-align: justify;
    margin: 3vw; 
    max-width: 410px;
    padding: 20px 20px;
    background-color: rgba(33, 59, 124, 0.3);
}

@media (max-width: 900px) {
    .student > .text1 {
        max-width: 45vw;
    }
}

.h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.17;  
    margin: 0;
}

.about {
    padding-top: 0.4em;
    padding-bottom: 0.5em;
    text-shadow: none;
}
.contacts > h1 {
    margin-top: 0px;
    text-shadow: none;
}

.h1_about {
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.17;  
    margin: 0;
    margin-top: 37px;
    margin-bottom: 15px;

}

strong {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
}
em {
    color: #CF5510;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}
.text1 {
    display: inline-block;
    width: 100%;
    max-width: 634px;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    margin: 0;
    padding: 10px 0;
}
.text2 {
    display: inline-flex;
    justify-content: right;
    vertical-align: middle;
    padding: 0;
    max-width: 129px;
    width: 100%;
    font-family: 'Lobster', italic;
    font-size: 36px;
    font-weight: 400;
    fill: #646464; 

}

.outlined {
    text-shadow: 
    -1px 0 0 rgb(0, 0, 0), 
    0 -1px 0 rgb(0, 0, 0),
    1px 0 0 rgb(0, 0, 0), 
    0 1px 0 rgb(0, 0, 0); 
}

.uch {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: content;
    padding-bottom: 20px;
    margin: 0px;
}

.uch::before {
    content: '\201C';
    position: absolute;
    left: -30px;
    top: 0px;
    font-family: 'Lobster', italic;
    font-size: 64px;
    font-weight: 400;
    color: #646464; 
}

.uch::after {
    content: '\201D';
    position: absolute;
    right: 0px;
    top: 52px;
    font-family: 'Lobster', italic;
    font-size: 64px;
    font-weight: 400;
    color: #646464; 
}

@media (max-width: 850px) {
    .column p {
        padding-right: 4vw;
    }
    .uch {
        margin-right: 4vw;
        flex-direction: row;
        margin: 0px auto;
    }
    .uch::after {
        top: 3px;
        right: -10px;
    }
}
.anketa {
    background-color: rgba(33, 59, 124, 0.4);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; 
}

tr:nth-child(2n) td:nth-child(2n+1) {
    background-color:rgba(33, 59, 124, 0.2);   
}
tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: rgba(33, 59, 124, 0.2);   
}
td:nth-child(n) {
    padding: 20px 50px;
}

.aside {
    margin-top: 90px;
    height: 50vw;
    width: 60px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.ocenk {
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    min-height: 60px;
    background-color: #213B7E;
}
.footer > .wrapper {
    justify-content: center;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;  
    fill: rgba(255, 255, 255, 0.5); 
    filter: drop-shadow( 0px 4px 4px rgb(0, 0, 0, 0.25) ); 
}
